.header {
    position: relative;
}

.header__body {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.header__body-left {
    display: flex;
    gap: 30px;
}

.header__body-right {
}

.header__logo {
}

.header__nav {
    display: flex;
    gap: 15px;
    align-items: center;
}

.header__nav-item {
    color: var(--clr-neutral-2);
    font-size: var(--fs-sm);
}

.header__nav-item:hover {
    color: var(--clr-neutral-4);
    cursor: pointer;
}

.header__body-right {
    display: flex;
    gap: 10px;
    align-items: center;
}

.menu-button {
    cursor: pointer;
}

.menu-button > div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.menu-popup {
    padding: 30px;
    border-radius: 10px;
    position: absolute;
    top: 100%;
    left: 10px;
    right: 10px;
    background-color: var(--clr-primary-2);
    display: flex;
    flex-direction: column;
    color: white;
    align-items: stretch;
    text-align: center;
    gap: 10px;
}

.menu-popup-divider {
    height: 1px;
    margin: 15px 0;
    background-color: var(--clr-neutral-2);
    opacity: 0.4;
}

.menu-popup-item {
    font-size: var(--fs-md);
    color: white;
}
