.container {
    padding: 0 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.button {
    background-color: transparent;
    cursor: pointer;
    color: var(--clr-neutral-2);
    padding: 3px 10px;
}

.button--type-primary {
    background-color: var(--clr-primary-1);
    color: white;
}

.button--type-primary:hover{
    opacity: 0.5;
}


.button--rounded-sm {
    border-radius: 3px;
}
.button--rounded-lg {
    border-radius: 20px;
}

.button--size-sm {
    padding: 5px 12px;
    font-size: var(--fs-sm);
}
.button--size-lg {
    padding: 10px 20px;
    font-size: var(--fs-md);
}
